@{
    ViewData["Title"] = "Inicio";
}

<ol>
    <li>
        <a href='@Url.Content("~/AjaxComponent/Index")'>Uso de Ajax</a>
    </li>
    <li>
        <a href='@Url.Content("~/ComboComponent/Index")'>Uso de Combo</a>
    </li>
    <li>
        <a href='@Url.Content("~/GridComponent/Index")'>Uso de Grilla</a>
    </li>
    <li>
        <a href='@Url.Content("~/SubmitMethod/Index/12")'>Editar</a>
    </li>
    <li>
        <a href='@Url.Content("~/SubmitMethod/Index/0")'>Nuevo</a>
    </li>
</ol>
