@using entity_library.Fest
@model IEnumerable<Chorifest>


@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "ChoriFest's List";

    //List<ChoriFest> ListchoriFests = @Model;
    //List<ChoriFest> ListchoriFests = new List<ChoriFest>();
    //ChoriFest choriFest = new ChoriFest();
    //choriFest.Title= "Post Examen";
    //choriFest.Date = System.Convert.ToDateTime("01/07/2022");
    //choriFest.State= "Abierto";
    //choriFest.Menu= "Chorizo Mezcla o Vegano + Bebida";
    //choriFest.RegistrationStart = System.Convert.ToDateTime("20/05/2022");
    //choriFest.RegistrationEnd=System.Convert.ToDateTime("20/06/2022");

    
    
    //ListchoriFests.Add(choriFest);
}   

<h1>Lista de Eventos</h1>

<p>
    <a asp-action="Create">Nuevo ChoriFest</a>
</p>
@*Realizar paginacion, ordenar cada columna, buscar por columna*@
<table class="table"
    id="grid-chorifestList">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Descripción
            </th>
            <th>
                Fecha
            </th>
            <th>
                Inicio Inscripción
            </th>
            <th>
                Fin Inscripción
            </th>
            <th>
                Estado
            </th>
            <th>
                Inscriptos
            </th>
             <th>
                Costo Parcial
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in @Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationStart)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.RegistrationEnd)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.StateChorifest)
            </td>
             <td>
                
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>